language: cpp

os:
  - linux
  - osx

env:
  global:
    - VISP_INPUT_IMAGE_PATH=${TRAVIS_BUILD_DIR}/visp-images
    - USTK_DATASET_PATH=${TRAVIS_BUILD_DIR}/ustk-dataset

compiler:
  - gcc
  - clang

sudo: required
dist: trusty

# branches to build (safelist)
branches:
  only:
  - master

before_install:
  - git clone --depth 1 https://github.com/lagadic/visp-images ${TRAVIS_BUILD_DIR}/visp-images
  - git clone --depth 1 https://github.com/lagadic/ustk-dataset ${TRAVIS_BUILD_DIR}/ustk-dataset
  # Get libs for OSX
  - "if [ $TRAVIS_OS_NAME = 'osx' ]; then brew update; fi"
  - "if [ $TRAVIS_OS_NAME = 'osx' ]; then brew install libxml2 gsl; fi"

  # For fftw thirdparty on OSX 
  #- if [[ "${TRAVIS_OS_NAME}" == "osx" ]] && [[ "${CC}" == "gcc" ]]; then
  #     brew install fftw; 
  #  fi
  
  # Get libs for Linux
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get update -qq; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq cmake libopencv-dev libx11-dev; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq liblapack-dev libgsl0-dev; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq libv4l-dev; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq libxml2-dev; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq libjpeg-dev libpng12-dev; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ]; then sudo apt-get install -qq libfftw3-dev; fi"

  # Workaround for linux + bionic + clang config where during test libomp.so is not found:
  # error while loading shared libraries: libomp.so: cannot open shared object file: No such file or directory
  - "if [ $TRAVIS_OS_NAME = 'linux' ] && [ $TRAVIS_COMPILER = 'clang' ]; then sudo apt-get install -qq locate; sudo updatedb; locate libomp.so; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ] && [ $TRAVIS_COMPILER = 'clang' ]; then ls /usr/local/clang-*; fi"
  - "if [ $TRAVIS_OS_NAME = 'linux' ] && [ $TRAVIS_COMPILER = 'clang' ]; then export LD_LIBRARY_PATH=/usr/local/clang-7.0.0/lib:$LD_LIBRARY_PATH; fi"

before_script:
  - git clone https://github.com/lagadic/visp.git /tmp/visp
  - mkdir build
  - cd build
  - cmake /tmp/visp -DVISP_CONTRIB_MODULES_PATH=.. -DBUILD_MODULE_visp_ar=OFF -DBUILD_MODULE_visp_blob=OFF -DBUILD_MODULE_visp_detection=OFF -DBUILD_MODULE_visp_imgproc=OFF -DBUILD_MODULE_visp_klt=OFF -DBUILD_MODULE_visp_mbt=OFF -DBUILD_MODULE_visp_me=OFF -DBUILD_MODULE_visp_tt=OFF -DBUILD_MODULE_visp_tt_mi=OFF -DBUILD_MODULE_visp_vision=OFF -DBUILD_MODULE_visp_visual_features=OFF -DBUILD_MODULE_visp_vs=OFF -DBUILD_MODULE_visp_java=OFF
  # Show 3rd parties that are detected
  - cat ViSP-third-party.txt

script: 
  - make
  - ctest --output-on-failure

notifications:
  email:
    - Fabien.Spindler@inria.fr
  on_success: change
  on_failure: always
