# Specify version format
version: "3.1.0-{build}"

os: Visual Studio 2015

# to add several platforms to build matrix
platform:
  - x64

configuration:
  - Release

environment:

  APPVEYOR_RDP_PASSWORD: U5tk!-pswd

  matrix:
    - CMAKE_GENERATOR: MinGW Makefiles
      BUILD_NAME: mingw

    - CMAKE_GENERATOR: Visual Studio 14 2015 Win64
      BUILD_NAME: vs2015

# Scripts that are called at very beginning, before repo cloning
init:
  - cmake --version
  - msbuild /version

install:
  # Create temp dir to collect test outputs
  - md C:\temp

  # All external dependencies are installed in C:\projects\deps
  - mkdir C:\projects\deps
  - cd C:\projects\deps

  # visp-images
  - git clone https://github.com/lagadic/ViSP-images C:\projects\deps\ViSP-images
  - set VISP_INPUT_IMAGE_PATH=C:\projects\deps

  # ustk-dataset
  - git clone https://github.com/lagadic/ustk-dataset C:\projects\deps\ustk-dataset
  - set USTK_DATASET_PATH=C:\projects\deps\ustk-dataset

  # visp
  - git clone https://github.com/lagadic/visp C:\projects\visp\visp
  - set VISP_SRC_DIR=C:\projects\visp\visp

# visp clone directory
clone_folder: C:\projects\ustk\ustk

before_build:
  # Use MinGW-w64 in C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1
  - cd C:\
  - ren MinGW MinGW-w32
  # Workaround for CMake not wanting sh.exe on PATH for MinGW
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" set PATH=C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin;%PATH%
  - dir C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" mingw32-make --version
  # Setup ViSP
  - if "%CMAKE_GENERATOR%"=="Visual Studio 14 2015 Win64" set VISP_DLL_DIR=C:\projects\visp\build\install\%platform%\vc14\bin
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" set VISP_DLL_DIR=C:\projects\visp\build\install\%platform%\mingw\bin
  # Issue with pthreads threading on MinGW AppVeyor
  - if "%CMAKE_GENERATOR%"=="Visual Studio 14 2015 Win64" set APPVEYOR_THREADING=true
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" set APPVEYOR_THREADING=false

build_script:
  - echo %PATH%
  - echo %APPVEYOR_PROJECT_ID%
  - dir C:\projects\deps
  - dir C:\tools
  - md C:\projects\visp\build
  - cd C:\projects\visp\build
  - cmake -G "%CMAKE_GENERATOR%" -DCMAKE_BUILD_TYPE=%configuration% -DVISP_CONTRIB_MODULES_PATH=..\..\ustk\ustk -DBUILD_MODULE_visp_ar=OFF -DBUILD_MODULE_visp_blob=OFF -DBUILD_MODULE_visp_detection=OFF -DBUILD_MODULE_visp_klt=OFF -DBUILD_MODULE_visp_mbt=OFF -DBUILD_MODULE_visp_me=OFF -DBUILD_MODULE_visp_tt=OFF -DBUILD_MODULE_visp_tt_mi=OFF -DBUILD_MODULE_visp_vision=OFF -DBUILD_MODULE_visp_visual_features=OFF -DBUILD_MODULE_visp_vs=OFF ..\visp
  - if "%CMAKE_GENERATOR%"=="Visual Studio 14 2015 Win64" cmake --build . --config %configuration% --target install -- /m:2
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" cmake --build . --config %configuration% --target install -- -j2
  - dir C:\projects\visp\build\install
  - dir %VISP_DLL_DIR%
  - if "%CMAKE_GENERATOR%"=="Visual Studio 14 2015 Win64" ctest -VV
  # Issue with exception on MinGW AppVeyor
  - if "%CMAKE_GENERATOR%"=="MinGW Makefiles" ctest -VV -E testMatrixException
  
  on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
